---
import Ase from "@assets/ase.svg";
import AstroLogo from "@assets/astrologo.svg";
import Flstudio from "@assets/fl.png";
import Git from "@assets/git.svg";
import Godot from "@assets/godot.svg";
import Inkscape from "@assets/inkscape.svg";
import Nasa from "@assets/nasa.svg";
import TailWind from "@assets/tailwind.svg";
import Card from "@components/Card.astro";
import Base from "@layouts/Base.astro";
---

<Base title="About">
  <h1
    class="mx-auto w-fit pb-12 text-center text-2xl text-wrap text-white md:text-4xl"
  >
    Ferramentas e Tecnologias
  </h1>
  <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
    <Card
      title="Astro"
      description="Astro é um framework web moderna otimizada para a construção de sites rápidos e eficientes. Foi utilizada para o desenvolvimento desse website."
      source={AstroLogo}
    />
    <Card
      title="NASA API"
      description="A API da NASA foi utilizada para obter dados de asteroides para uso no jogo. Alguns desses dados incluem o nome do objeto, diâmetro, massa e composição por espectrometria."
      source={Nasa}
    />
    <Card
      title="Godot"
      description="Godot é uma game engine utilizada para criação de jogos 2D e 3D. Foi a engine utilizada para desenvolver a experiência gamificada do projeto."
      source={Godot}
    />
    <Card
      title="Aseprite"
      description="Aseprite é um editor de sprites e uma ferramenta de pixel art. Foi utilizada para a criação de toda arte e animações do jogo."
      source={Ase}
    />
    <Card
      title="FL Studio"
      description="FL Studio é uma Digital Audio Workstation (DAW). O programa foi utilizado para a composição e produção da trilha sonora original do jogo."
      source={Flstudio}
    />
    <Card
      title="Tailwind CSS"
      description="Tailwind CSS é um framework CSS que fornece classes pré-definidas, permitindo uma estilização mais rápida e consistente."
      source={TailWind}
    />
    <Card
      title="Inkscape"
      description="Inkscape é um editor de gráficos vetoriais. Foi utilizado para elaborar o design da identidade visual do projeto exibida no website."
      source={Inkscape}
    />
    <Card
      title="Git & GitHub"
      description="Git é um sistema de controle de versionamento, enquanto GitHub é uma plataforma de hospedagem e colaboração em repositórios Git. Ambos foram utilizados para o controle de versão e a colaboração da equipe."
      source={Git}
    />
  </div>
</Base>

<style>
  h1 {
    font-family: var(--font-title);
    opacity: 100%;
  }
</style>
