---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
import Logo from "@/assets/logo_website.svg";

---

<head>
  <meta charset="UTF-8" />
  <meta name="title" content={title} />
  <meta name="viewport" content="width=device-width, initial-scale=1" />


  <Font cssVariable="--font-title" preload />
  <Font cssVariable="--font-text" preload />

  {description && <meta name="description" content={description} />}

  <link rel="icon" type="image/svg+xml" href={Logo.src} />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <ClientRouter />

  <slot />
</head>
